<a href="https://colab.research.google.com/github/cledgeja/coding_dojo/blob/main/Project_2/Project_2_Dataset_Proposal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project 2 Dataset Proposal

In [11]:
import pandas as pd

## Dataset 1

* 1) Source of data
  * http://archive.ics.uci.edu/ml/datasets/Arrhythmia
* 2) Brief description of data
  * Patients ECG data
* 3) What is the target?
  * classify presence of cardiac arrythmia into one of 16 groups
* 4) Is this a classification or regression problem?
  * Clasification
* 5) How many features?
  279
* 6) How many rows of data.
  452
* 7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?
  * There are some missing values. 
  * Due to number of features, exploring this dataset may take some time.
  * Need to learn and explain some of the medicial terminology of the features
  * No header so need to name a lot of columns

In [12]:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/arrhythmia/arrhythmia.data'
df = pd.read_csv(url,header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,270,271,272,273,274,275,276,277,278,279
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7

## Dataset 2

* 1) Source of data
  * http://archive.ics.uci.edu/ml/datasets/Concrete+Compressive+Strength
* 2) Brief description of data
  * Measuring ratios of various mixtures for the Compressive Strength of Concrete
* 3) What is the target?
  * Compressive strength
* 4) Is this a classification or regression problem?
  * regression
* 5) How many features?
  9
* 6) How many rows of data.
  1030
* 7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?
  * Do not see any major challenges with this dataset
  * saved in an old version of excel, issue with pandas in colab
  * cleanup column names for easier analysis

In [17]:
url = 'https://github.com/cledgeja/coding_dojo/blob/8506e2170802bb416ac7e0eb7b1663745acf385a/Project_2/Concrete_Data.csv?raw=True'
df = pd.read_csv(url)
df.head()

,Cement (component 1)(kg in a m^3 mixture),Blast Furnace Slag (component 2)(kg in a m^3 mixture),Fly Ash (component 3)(kg in a m^3 mixture),Water (component 4)(kg in a m^3 mixture),Superplasticizer (component 5)(kg in a m^3 mixture),Coarse Aggregate (component 6)(kg in a m^3 mixture),Fine Aggregate (component 7)(kg in a m^3 mixture),Age (day),"Concrete compressive strength(MPa, megapascals)"
0,389.9,189.0,0.0,145.9,22.0,944.7,755.8,91,82.60
1,315.0,137.0,0.0,145.0,5.9,1130.0,745.0,28,81.75
2,323.7,282.8,0.0,183.8,10.3,942.7,659.9,56,80.20
3,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
4,389.9,189.0,0.0,145.9,22.0,944.7,755.8,56,79.40